.idea/
.venv/
venv/

AI_Prototyping/*
!AI_Prototyping/

!AI_Prototyping/test_images
!AI_Prototyping/evaluate_model_algorithm.ipynb
!AI_Prototyping/web_streaming.py
!AI_Prototyping/mark_objects.py
!AI_Prototyping/simple_shapes_detection.py

!AI_Prototyping/YoloV8-finetune/
AI_Prototyping/YoloV8-finetune/*
!AI_Prototyping/YoloV8-finetune/model_ft.ipynb
!AI_Prototyping/YoloV8-finetune/preprocessing_V2.ipynb
!AI_Prototyping/YoloV8-finetune/DroneModel/
AI_Prototyping/YoloV8-finetune/DroneModel/*
!AI_Prototyping/YoloV8-finetune/DroneModel/yolov8n_V2_320/
!AI_Prototyping/YoloV8-finetune/DroneModel/yolov8n_V2_640/

ssh -T git@github.com
